@media print {

	@page {
		size: $page-width $pageHeight;
    // margin:0cm;
    // margin-top: 2cm !important;
    // margin-bottom: 2cm !important;
	}


  p{
    @include textPrint;
    page-break-inside: avoid !important;
  }


  .break-after{
    -webkit-region-break-after: always !important;
    break-after: always !important;
    page-break-after: always !important; 
    width: 100%;
    // permet de faire fonctionner le break-after
    float: none !important;
    display: block;
    position: relative;
  }

	.blank-page{
		height: $pageHeight;
    width: 100%;
    page-break-after: always !important; 
	}

	.cover{
    width: 100%;
    // border: 1px solid #000;
		.titre{
			@include h1print;
			word-wrap: break-word;
      text-align: justify;
		}
    .imageHead{
      width:90%;
      margin-top: 10cm;
    }

	}

  .article{
    width: 100%;
    margin: 4cm;
    .text{
      border: 1px solid #000;
      padding: 0 0.7cm; 
    }
  }

  .introduction{
    .text{
      margin-left: $marginLPrint;
      width: 80%;
    }
    .gallerie{
      li{
        width: 80%;
        margin: auto; 
      }
    }
  }

  .imagestart{
    width: 100% !important;
    // height: $pageHS;
    overflow: hidden;
    img{
      // height: $pageHS;
      width: 100% !important;
      // margin-left: -4cm !important;
    }
  }

  .section{
    .header{
      padding-top: 3cm !important;
      .titre{
        width: 100% !important;
      }
      .imageHead{
        width: 80% !important;
      }
    }
    .article{
      margin-top: 20px !important;
    }
    .text-col{
      margin-left: $marginLPrint;
      width: 80% !important;
    }
    .gallerie{
      li{
        width: 80% !important;
        margin: auto !important; 
      }
    }
  }


  .txt-col{
    width: 80%;
    margin:auto;
  }


	.small-1 {
    width: 8.33333%;
  }

  .small-2 {
    width: 16.66667%;
  }

  .small-3 {
    width: 25%;
  }

  .small-4 {
    width: 33.33333%;
  }

  .small-5 {
    width: 41.66667%;
  }

  .small-6 {
    width: 50%;
  }

  .small-7 {
    width: 58.33333%;
  }

  .small-8 {
    width: 66.66667%;
  }

  .small-9 {
    width: 75%;
  }

  .small-10 {
    width: 83.33333%;
  }

  .small-11 {
    width: 91.66667%;
  }

  .small-12 {
    width: 100%;
  }


}