@media print {

	@page {
		size: $page-width $pageHeight;
		marks: crop;
	}

	body{
		border: 1px solid #000;
	}


	.blank-page{
		height: $pageHeight;
	}

	.cover{
		.titre{
			@include h1print;
			word-wrap: break-word;
		}
		.imagecouv{
			li{
				width: 25%;
			}
		}

	}


	.small-1 {
    width: 8.33333%;
  }

  .small-2 {
    width: 16.66667%;
  }

  .small-3 {
    width: 25%;
  }

  .small-4 {
    width: 33.33333%;
  }

  .small-5 {
    width: 41.66667%;
  }

  .small-6 {
    width: 50%;
  }

  .small-7 {
    width: 58.33333%;
  }

  .small-8 {
    width: 66.66667%;
  }

  .small-9 {
    width: 75%;
  }

  .small-10 {
    width: 83.33333%;
  }

  .small-11 {
    width: 91.66667%;
  }

  .small-12 {
    width: 100%;
  }


}