$pageHeight: 26cm;
$page-width: 20cm;


$font-titre:'share';
$taille-titre: 60px;
$soustitre: 28px;
$couleur-titre: #FFFFFF;

$font-text: 'volkorn';
$taille-text: 1.25em;


$marge-gauche: 107px;
$marge-droite: 400px;


