$pageHeight: 21cm;
$page-width: 15cm;	

$font-titre:'share';
$font-text: 'vollkorn';

$marge-gauche: 107px;
$marge-droite: 400px;

@mixin text60 {
  font-size:  150px;
  font-size: rem-calc(150);
  line-height: 1;
}

@mixin h1print {
  font-size:  80px;
  font-size: rem-calc(80);
  line-height: 1;
}

@mixin text28 {
  font-size:  28px;
  font-size: 1.75rem;
  line-height:  1.3125;
}

@mixin text32 {
  font-size:  60px;
  font-size: rem-calc(60);
  line-height:  1.2;
}

@mixin text20 {
  font-size:  20px;
  font-size:  1.25rem;
  line-height:  1.29;
}

