$pageHeight: 26cm;


$font-titre:'share';
//$taille-titre: 60px;
$soustitre: 28px;
$couleur-titre: #FFFFFF;

$font-text: 'volkorn';
$taille-text: 20px;


$marge-gauche: 107px;
$marge-droite: 400px;


