// I M P O R T
@import "../font/share/stylesheet.css";
@import "../font/volkorn/stylesheet.css";
@import "_variables.scss";
@import "_print.scss";
@import "../../bower_components/foundation/scss/foundation/components/grid";
@import "../../bower_components/foundation/scss/normalize.scss";

// T Y P O G R A P H Y



// S T R U C T U R E
@media all {





}

@media screen {

	h1 {font-weight: normal;
	    font-size: 80px;
      line-height : 35px;
      padding-left: 40px;
      }

	h2 {font: 100% $font-titre;
	    font-size: $soustitre;}

	p  {font-size: $taille-text;
      padding-left: 40px;}




  .introduction{
 	              padding-right: 40px;
 	              border-width: 20px;
                border-style: solid;
                border-color: #6B6A76
                }

  //.article{background: #3EFE46;}
  
  //.imagestart img{ 
     
  //mix-blend-mode: luminosity;}

  //.imageend { mix-blend-mode: luminosity;}



  .contenu{border-width: 20px;
           border-style: solid;}

  .titre{ font: 200% $font-titre;}
          

  .text{ font: 100% $font-text;}

  .row{max-width: 100%;}



