// I M P O R T
@import "../font/share/stylesheet.css";
@import "../font/volkorn/stylesheet.css";
@import "_variables.scss";
@import "_print.scss";
@import "../../bower_components/foundation/scss/foundation/components/grid";
@import "../../bower_components/foundation/scss/normalize.scss";

// T Y P O G R A P H Y
  .titre{ font: 100% $font-titre;}

  .text{ font: 100% $font-text;}

  h2 {font: $font-text,bold;
      font-size: $soustitre;
      padding-left: 40px;}

  p  {font-size: $taille-text;
      padding-left: 40px;}


// S T R U C T U R E
@media screen {

  .titre{
          line-height : 1em;
          padding-left: 40px;
         }

  .coverbreak-after {
                      .titre{
                             font-size: 2.5em;
                             color:#FFFFFF;
                            }
                    }

  .imagestart{float: right;
              //background-color: #EC4916;
              //background-size: cover;
              //background-blend-mode: luminosity;
              max-width: 60%;
              }

  .imageend {float: left;
             //background-color: #EC4916;
             //background-blend-mode: luminosity;
             max-width: 45%;
            }
}

@media all {

  .coverbreak-after {
                      position:relative;
                      .titre{
                             position: absolute;
                             top: 50%;
                          -webkit-transform: translateY(-50%);
                          -ms-transform: translateY(-50%);
                          transform: translateY(-50%);  
                             
                            }

                    }





  .row{max-width: 100%;}

  .introduction {
                  padding-right: 40px;
                  .titre{font-size: 1.5em;
                        }
 
                }

  .contenu{clear:both;
           border-width: 20px;
           border-style: solid;
          .titre{font-size:2em;}


          }
    
}



