// I M P O R T
@import "../font/share/stylesheet.css";
@import "../font/volkorn/stylesheet.css";
@import "_variables.scss";
@import "_print.scss";
@import "../../bower_components/foundation/scss/foundation/components/grid";
@import "../../bower_components/foundation/scss/normalize.scss";

// T Y P O G R A P H Y



// S T R U C T U R E
@media all {





}

@media screen {

	h1 {font-weight: normal;
	    font-size: 80px;
      line-height : 35px;
      padding-left: 40px;
      }

	h2 {font: $font-text,bold;
	    font-size: $soustitre;
      padding-left: 40px;}

	p  {font-size: $taille-text;
      padding-left: 40px;}



  .introduction{
 	              padding-right: 40px;
 	              border-width: 20px;
                border-style: solid;
                border-color: #6B6A76
                }

  //.article{background-color: #EC4916;}
  
  .imagestart{background-color: #EC4916;
              background-size: cover;
              background-blend-mode: luminosity;
              max-width: 60%;
              right: 40%;}

  
  .imageend {background-color: #EC4916;
             background-blend-mode: luminosity;
             max-width: 45%;
            }



  .contenu{border-width: 20px;
           border-style: solid;}

  .titre{ font: 100% $font-titre;}
          

  .text{ font: 100% $font-text;}

  .row{max-width: 100%;}

}



